{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
             about
{% endblock %}



{% block body_block %}
          <!--<p>You have visit this site :{{visits}} times!</p> -->
          <h1>About isthiskeanureeves.com </h1>
          <div>
               This homepage has been put together by Kim, Paul and Liam.
			   isthiskeanureeves.com is for finding real keanu reeves from random picture.
			   Also, user can vote and comment them.<br />
          </div>
          <div>
                
                <img   src="{{ MEDIA_URL }}youngkeanu.jpg" />
          </div>
		  <div class="col-4 border-left mt-4 pb-3 pt-3 about-us-footer">
     <div class="col-4">
        <h5>Contact Information</h5>
        <p><strong>Paul-Langdale:</strong><br />2250052l@student.gla.ac.uk</p>
        <p><strong>HYUNJUN KIM: </strong><br />2335980k@student.gla.ac.uk</p>
        <p><strong>Liam Brodie: </strong><br />2198998b@student.gla.ac.uk</p>

    </div>
{% endblock %}