<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
	    <meta charset="UTF-8" />
		<title>
		Is This Keanu Reeves?
		</title>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href= "{% static "css/style.css" %}">
	</head>
	<body>
	    <div>
		
		{% block body_block %}
		        
		{% endblock %}
		</div>
		<hr />
		<div>
			<div id="nav">
			    <a href="{% url 'index' %}">Homepage</a> &nbsp;
     			<a href="{% url 'topkeanu' %}">Top Keanu</a> &nbsp; 
				<a href="{% url 'keanew' %}">Kea-New</a> &nbsp;
				<a href="{% url 'keanothim' %}">KEAN-NOT HIM</a> &nbsp;
				<a href="{% url 'about' %}">About</a> &nbsp;
				
			    


        </div>	
	</body>
</html>