{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
    <h1>Register for isthiskeanureeves.com</h1>
    {% if registered %}
          Keanureeves says: <strong>thank you for registering!</strong>
         <a href="{% url 'login' %}">Sign in here</a><br />
    {% else %}
          Keanureeves says: <strong>register here!</strong><br />
         <form class="jquery_validation_form" id="user_form" method="post" action="{% url 'register' %}"
                  enctype="multipart/form-data">

          {% csrf_token %}
         

          <!-- Display each form -->
          {{ user_form.as_p }}
          {{ profile_form.as_p }}

          <!-- Provide  click to submit the form. -->
          <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
	 </div>
	  <div class="col">
    </div>
</div>
{% endblock %}