{% extends 'isthiskeanureeves/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	User - {{user.username}}
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div id="mainBody">
	<div id="user_info">
		<div id="photoFrame">
			<!-- check user is currently the one logged in -->
			<img src="{{ MEDIA_URL }}{{userprofile.picture }} "width="300" height="300" alt="{{user.username}}'s picture" />
        <br/>

		</div>
		<div class="row user-account-info pb-3 border-bottom">
        <div class="col-7">
            <h2>Username: {{user.username }}</h2>

            {% if user.email %}
                <strong><em>Email address: {{ user.email }}</em></strong><br />
            {% else %}
                <strong><em>Email address: No e-mail provided</em></strong><br />
            {% endif %}

{% endif %}
{% endblock %}